@import "tailwindcss";

@theme {
  --color-pc-gray-200: #d9dfe3;
  --color-pc-gray-300: #b0b8c1;
  --color-pc-gray-400: #8a919b;
  --color-pc-gray-500: #626872;
  --color-pc-gray-600: #3b4147;
  --color-pc-gray-700: #24282d;
}
